/* src/assets/css/App.css */

body {
  background-color: #ffdab9; /* Arrière-plan couleur saumon clair */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: 375px;  /* Largeur d'un écran de téléphone typique */
  height: 667px;  /* Hauteur d'un écran de téléphone typique */
  padding: 1rem;
  text-align: center;
  background-color: #ffffff; /* Arrière-plan blanc pour le contenu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card {
  padding: 1em;
  text-align: left;
  flex-grow: 1
}

.read-the-docs {
  font-size: 0.875em;
  color: #888;
}

/* Styles spécifiques pour les petits écrans */
@media (max-width: 768px) {
    #root {
      width: 100%;
      height: 100%;
      padding: 60px 1rem 1rem 1rem; /* Conserver le padding en haut pour le header fixe */
      text-align: center;
    }
  
    .card {
      padding: 1em;
    }
  
    .read-the-docs {
      font-size: 0.875em;
    
}
}